@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div>
        <h3>Country and city status change.</h3>
        <form method="post" action="">
            <input type="hidden" value="@ViewBag.CityId" name="CityId" />
            <table>
                <tr>
                    <td><p>Enter your name</p></td>
                    <td><input type="text" name="Person" /> </td>
                </tr>
                <tr>
                    <td><p>Enter your Address :</p></td>
                    <td>
                        <input type="text" name="Address" />
                    </td>
                </tr>
                <tr><td><input type="submit" value="Отправить" /> </td><td></td></tr>
            </table>
        </form>
    </div>
